@keyframes anime1 {
  from{
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(0);
  }
}




@keyframes anime2{

    from{

        
        transform: translateY(100vh) scale(0);

    }
to{transform: translateY(-10vh) scale(1);


}

}